.card-container{
    
     padding: auto;
     font-family: Arial, sans-serif;
    align-items: center; 
     justify-content: center;
    position: relative;
    width: 450px;
    height: 180px;
    background-color: skyblue;
    position: relative;
    top: 60%;
  }
  

    
  
  
    

  


